@tailwind base;

@tailwind components;

@tailwind utilities;
body{
    --grad1: #210c42;
    --grad2: #321165;
    --grad3: #401582;
    --grad-img: linear-gradient(119deg,var(--grad1) 2%,var(--grad2) 82%);
    --stripe: hsla(0,0%,100%,0.06667);
    --primary: #2B1259;
    /* //background: #2d1058; */
    background:#002239 var(--grad-img) no-repeat;
}
.prose a.btn, .btn{
    @apply rounded-md py-3 px-4 uppercase text-xs cursor-pointer tracking-wider bg-purple-900 text-white no-underline hover:bg-purple-500;
}
.prose pre, :not(pre) > code[class*="language-"], pre[class*="language-"]{
    background-color: rgba(55,65,81,var(--tw-bg-opacity)) !important;
}


.bg_grid {
    --stripe:hsla(0,0%,100%,0.06667);position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

.bg_grid__container {
    display: grid;
    grid-template-areas: "a a b b" "c c c c" ;
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(-45deg) scale(2);
    transform-origin: center center
}

.bg_grid__stripes {
    --perc:calc(100%/var(--stripes));--perc2:calc(var(--perc)*2);background: repeating-linear-gradient(var(--direction),hsla(0,0%,100%,.06667),hsla(0,0%,100%,.06667) var(--perc),transparent var(--perc),transparent var(--perc2));
    background: repeating-linear-gradient(var(--direction),var(--stripe),var(--stripe) var(--perc),transparent var(--perc),transparent var(--perc2))
}

.bg_grid__stripes--a {
    --stripes:16;--direction:to right;grid-area: a
}

.bg_grid__stripes--b {
    --stripes:8;--direction:to bottom;grid-area: b
}

.bg_grid__stripes--c {
    --stripes:32;--direction:to bottom;grid-area: c
}
.bg-primary{
    background-color: var(--primary);
}

footer a{
    border-bottom: 1px dotted #ccc;
}